table {
	background-color: black;
	border: 1px solid black;
	border-radius: 10px;
	table-layout: fixed;
	width: 450px;
	height: 300px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

tr {
	text-align: center;
	font-size: 24px;
	width: 100%;
}

td {
	width: 100px;
	height: 70px;
	overflow: hidden;
}
th {
	width: 100px;
	height: 70px;
	overflow: hidden;
}
